In [2]:
print("Hello World")

Hello World

1 variables in python 
* data/values can be stored in temporary storage spaces called variables

In [4]:
# name is a variable where we store a value [Ravi].
Name = "Ravi"
print(Name)

Ravi

In [5]:
# in second time we store a value [Raghav] in same variable name .
Name = "Raghav"
print(Name)

Raghav

Comment 
* comments start with a # , and rest of code is run .

In [6]:
# this is the comment 
print("comment use #")

comment use #

Data types in python
* there are six or more data types in python 
! set  
! integer
! string
! tuples
! dictionary
! list
! complex number
! boolean
! float

  type command 
* you can get the data type of variable with the type() function

In [7]:
# Ex with each all data types one by one .
# Set 
x = {"apple","banana","cherry","orange"}
print(x)
print(type(x))

{'banana', 'orange', 'cherry', 'apple'}
<class 'set'>

In [10]:
# integer
x = 20
y = -90
z = 0
print(x,y,z)
print(type(x))
print(type(y))
print(type(z))

20 -90 0
<class 'int'>
<class 'int'>
<class 'int'>

In [12]:
# string
a = "my name is ravi kumar"
b = 'i am a boy'
print(a)
print(b)
print(type(a))
print(type(b))

my name is ravi kumar
i am a boy
<class 'str'>
<class 'str'>

In [13]:
# tuple
x = ("raghav","suresh","kartik","ritika")
print(x)
print(type(x))

('raghav', 'suresh', 'kartik', 'ritika')
<class 'tuple'>

In [14]:
# dictionary
s = {"Name" : "Ravi kumar", "Age" : 19 }
print(s)
print(type(s))

{'Name': 'Ravi kumar', 'Age': 19}
<class 'dict'>

In [15]:
# List
y = ["aeroplane","railway","ship","bus"]
print(y)
print(type(y))

['aeroplane', 'railway', 'ship', 'bus']
<class 'list'>

In [16]:
# complex 
x = 5 + 4j
c = 1j
print(x,c)
print(type(x))
print(type(c))

(5+4j) 1j
<class 'complex'>
<class 'complex'>

In [23]:
# boolean 
p = 45>30
o = 12<5
print(p)
print(o)
print(type(p))
print(type(o))

True
False
<class 'bool'>
<class 'bool'>

In [24]:
# float
x = 13.56
print(x)
print(type(x))

13.56
<class 'float'>

  Type Conversion
* You can convert from one type to another with the int(), float(), and complex() methods:

In [25]:
x = 1    
y = 2.8  
z = 1j   

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

  Multiline Strings
* You can assign a multiline string to a variable by using three quotes:

In [1]:
a = '''MY NAME IS RAVI KUMAR
       I HAVE FIVE SISTER 
       AND I AM STILL SINGLE BROTHER '''
print(a)

MY NAME IS RAVI KUMAR
       I HAVE FIVE SISTER
       AND I AM STILL SINGLE BROTHER

* Strings are Arrays
  Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.
  However, Python does not have a character data type, a single character is simply a string with a length of 1.
  Square brackets can be used to access elements of the string.

In [5]:
# string with arrays example :
a = "Hello, World!"
print(a[1])
print(a[7:9])
print(a[0:12:2])

e
Wo
Hlo ol

* Looping Through a String
  Since strings are arrays, we can loop through the characters in a string, with a for loop.

In [9]:
for x in "banana" :
    print(x)

b
a
n
a
n
a

In [10]:
for y in "raghav kumar":
    print(y)

r
a
g
h
a
v

k
u
m
a
r

* String Length
  To get the length of a string, use the len() function.

In [11]:
a = "Ravi kumar "
print(len(a))

11

In [12]:
b = ("banana ","mango","apple")
print(len(b))

3

* Check String
  To check if a certain phrase or character is present in a string, we can use the keyword in.

In [16]:
x = "suvesh sir is a very good teacher "
print("suvesh" in x)
print("Ravi" in x)

True
False

In [17]:
# Use it in an if statement:
x = "suvesh sir is a very good teacher "
if "very good" in x:
    print("Yes, 'very good' is present.")

Yes, 'very good' is present.

In [19]:
# Check if NOT ,To check if a certain phrase or character is NOT present in a string, we can use the keyword not in.
x = "suvesh sir is a very good teacher "
print("suvesh sir" not in x)
print("ravi kumar" not in x)

False
True

* Slicing
  You can return a range of characters by using the slice syntax.
  Specify the start index and the end index, separated by a colon, to return a part of the string.

In [42]:
a = "python is a easy language "
print(a[0:25])

# start ,stop ,step indexing :
print(a[2:20:2])

# start , step indexing :
print(a[2::2])

# start , stop indexing :
print(a[4:15])

python is a easy language
to saes a
to saes agae
on is a eas

In [43]:
# The upper() method returns the string in upper case:

a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [50]:
# The lower() method returns the string in lower case:

a = "Hello, World!"
print(a.lower())

hello, world!

In [53]:
# The strip() method removes any whitespace from the beginning or the end:
# Whitespace is the space before and/or after the actual text, and very often you want to remove this space.

a = "                    a Hello, World!   "
print(a.strip())
# wiothout using strip its not remove whitespace :
b = "                    hello , python  "
print(b)

a Hello, World!
                    hello , python

In [56]:
# The replace() method replaces a string with another string:

a = "Hello, World!"
print(a.replace("Hello", "python"))

b = "ravi kumar"
print(b.replace("ravi","rowdy rathore"))

python, World!
rowdy rathore kumar

In [57]:
# The split() method splits the string into substrings if it finds instances of the separator:
# The split() method returns a list where the text between the specified separator becomes the list items.

a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

In [60]:
# String Concatenation
# To concatenate, or combine, two strings you can use the + operator.

a = "Hello"
b = "World"
c = a + b
print(c)

# To add a space between them, add a " ":
d = a + "   " + b
print(d)

HelloWorld
Hello   World

In [62]:
# String Format
# As we learned in the Python Variables chapter, we cannot combine strings and numbers like this:
age = 36
a = "My name is John, I am " + age
print(a)

TypeError: can only concatenate str (not "int") to str

In [61]:
# The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are:
# Use the format() method to insert numbers into strings:

age = 36
a = "My name is John, and I am {}"
print(a.format(age))

My name is John, and I am 36

In [63]:
# The format() method takes unlimited number of arguments, and are placed into the respective placeholders:

quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

* Escape Character
  To insert characters that are illegal in a string, use an escape character.
  An escape character is a backslash \ followed by the character you want to insert.
  An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

In [67]:
# You will get an error if you use double quotes inside a string that is surrounded by double quotes:

txt = "We are the so-called "Vikings" from the north."
print(txt)

SyntaxError: invalid syntax (365903484.py, line 3)

In [66]:
# To fix this problem, use the escape character \":
# The escape character allows you to use double quotes when you normally would not be allowed:

txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

* String Methods
  Python has a set of built-in methods that you can use on strings.

Note: All string methods return new values. They do not change the original string.

capitalize()	=   Converts the first character to upper case

casefold()	    =   Converts string into lower case

center()	    =   Returns a centered string

count()	        =   Returns the number of times a specified value occurs in a string

encode()	    =   Returns an encoded version of the string

endswith()	    =   Returns true if the string ends with the specified value

expandtabs()	=   Sets the tab size of the string

find()	        =   Searches the string for a specified value and returns the position of where it was found

format()	    =   Formats specified values in a string

format_map()	=   Formats specified values in a string

index()	        =   Searches the string for a specified value and returns the position of where it was found

isalnum()       = 	Returns True if all characters in the string are alphanumeric

isalpha()	    =   Returns True if all characters in the string are in the alphabet

isdecimal()	    =   Returns True if all characters in the string are decimals

isdigit()	    =   Returns True if all characters in the string are digits

isidentifier()	=   Returns True if the string is an identifier

islower()	    =   Returns True if all characters in the string are lower case

isnumeric()	    =   Returns True if all characters in the string are numeric

isprintable()	=   Returns True if all characters in the string are printable

isspace()	    =   Returns True if all characters in the string are whitespaces

istitle()	    =   Returns True if the string follows the rules of a title

isupper()	    =   Returns True if all characters in the string are upper case

join()	        =   Joins the elements of an iterable to the end of the string

ljust()	        =   Returns a left justified version of the string

lower()     	=   Converts a string into lower case

lstrip()	    =   Returns a left trim version of the string

maketrans()	    =   Returns a translation table to be used in translations

partition()	    =   Returns a tuple where the string is parted into three parts

replace()	    =   Returns a string where a specified value is replaced with a specified value

rfind()	        =   Searches the string for a specified value and returns the last position of where it was found

rindex()	    =   Searches the string for a specified value and returns the last position of where it was found

rjust()	        =   Returns a right justified version of the string

rpartition()	=   Returns a tuple where the string is parted into three parts

rsplit()	    =   Splits the string at the specified separator, and returns a list

rstrip()	    =   Returns a right trim version of the string

split()	        =   Splits the string at the specified separator, and returns a list

splitlines()	=   Splits the string at line breaks and returns a list

startswith()	=   Returns true if the string starts with the specified value

strip()	        =   Returns a trimmed version of the string

swapcase()	    =   Swaps cases, lower case becomes upper case and vice versa

title()	        =   Converts the first character of each word to upper case

translate()  	=   Returns a translated string

upper()  	    =   Converts a string into upper case

zfill()	        =   Fills the string with a specified number of 0 values at the beginning

* Boolean Values
  In programming you often need to know if an expression is True or False.
  You can evaluate any expression in Python, and get one of two answers, True or False.
  when you compare two values, the expression is evaluated and Python returns the Boolean answer:

In [68]:
# example of boolean :
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [69]:
a = 200
b = 33

if b > a:
    print("b is greater than a")
else:
    print("b is not greater than a")

b is not greater than a

In [70]:
# bool function allow any values to check true or false :
# bool function with string :
print(bool("Hello"))

# bool function with integer :
print(bool(15))

True
True

* Most Values are True
  Almost any value is evaluated to True if it has some sort of content.
  Any string is True, except empty strings.
  Any number is True, except 0.
  Any list, tuple, set, and dictionary are True, except empty ones.

In [72]:
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

* Some Values are False
  In fact, there are not many values that evaluate to False, except empty values, such as (), [], {}, "", the number 0, and the   value None. And of course the value False evaluates to False.

In [73]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

In [74]:
# Functions can Return a Boolean
# You can create functions that returns a Boolean Value:
# Print "YES!" if the function returns True, otherwise print "NO!":

def myFunction() :
    return True

if myFunction():
    print("YES!")
else:
    print("NO!")

YES!

* Python Operators
  Operators are used to perform operations on variables and values.

1 Arithmetic operators
2 Assignment operators
3 Comparison operators
4 Logical operators
5 Identity operators
6 Membership operators
7 Bitwise operators

In [77]:
# arithmetic operators are used with numeric values to perform common mathematical operations :
# Addition
12 + 30

30

In [78]:
# subtraction
40 - 10

30

In [ ]:
# multiplication
12 * 10

In [80]:
# division
500 / 15

33.333333333333336

In [84]:
# modulus
1000 % 10

0

In [87]:
# exponentation
20 ** 2

400

In [88]:
# floor division
500 // 5

100

In [91]:
# python assignment operator :
x = 5 
x += 3
print(x)

8

In [92]:
x = 10
x -= 5
print(x)

5

In [93]:
x = 20
x *= 5
print(x)

100

In [94]:
x = 200
x /= 20
print(x)

10.0

In [95]:
x = 250
x %= 10
print(x)

0

In [96]:
x = 300
x //= 6
print(x)

50

In [100]:
x = 14
x **= 2
print(x)

196

In [101]:
x = 35
x &= 50
print(x)

34

In [105]:
x = 40
x |= 35
print(x)

43

In [106]:
x = 20
x ^= 30
print(x)

10

In [111]:
x = 120
x >>= 2
print(x)

30

In [113]:
x = 180
x <<= 2
print(x)

720

In [115]:
# python comparison operator :
# Equal
5*4 == 20
40 == 40

True

In [116]:
# Not equal
25 != 23

True

In [117]:
# Greater then 
54 > 45

True

In [118]:
# Less then 
45 < 50

True

In [119]:
# Greater then or equal to
540 >= 500

True

In [121]:
# Less then or equal to
430 <= 600

True

In [123]:
# Python logical operators
# Logical operators are used to combine conditional statements :
# [ and ] logical operator
x = 50 
print(x > 40 and x < 60)

True

In [124]:
# [ or ]
x = 95
print(x > 90 or x < 100)

True

In [125]:
# [ Not ]
x = 10
print(not(x > 7 and x < 15))

False

In [126]:
# Python Identity Operators
# Identity operators are used to compare the objects, 
# not if they are equal, but if they are actually the same object, with the same memory location:

x = ["apple", "banana","orange"]
y = ["apple", "banana","orange"]
z = x

# returns True because z is the same object as x
print(x is z)

# returns False because x is not the same object as y, even if they have the same content
print(x is y)

# to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y
print(x == y)

True
False
True

In [127]:
# Python Membership Operators
# Membership operators are used to test if a sequence is presented in an object:
# in operator 
x = ["apple", "banana"]

# returns True because a sequence with the value "banana" is in the list
print("banana" in x)

True

In [128]:
# not in operator 

x = ["apple", "banana"]

# returns True because a sequence with the value "pineapple" is not in the list
print("pineapple" not in x)

True

In [129]:
# Parentheses has the highest precedence, meaning that expressions inside parentheses must be evaluated first:

print((6 + 3) - (6 + 3))

0

In [130]:
# Multiplication * has higher precedence than addition +, and therefor multiplications are evaluated before additions:

print(100 + 5 * 3)

115

In [131]:
# Addition + and subtraction - has the same precedence, and therefor we evaluate the expression from left to right:

print(5 + 4 - 7 + 3)

5

* List
  Lists are used to store multiple items in a single variable.
  Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and             Dictionary, all with different qualities and usage.
  Lists are created using square brackets:

In [132]:
a = ["apple", "banana", "cherry"]
print(a)

['apple', 'banana', 'cherry']

#List Items
List items are ordered, changeable, and allow duplicate values.
List items are indexed, the first item has index [0], the second item has index [1] etc.


#Ordered
When we say that lists are ordered, it means that the items have a defined order, and that order will not change.
If you add new items to a list, the new items will be placed at the end of the list.

Note: There are some list methods that will change the order, but in general: the order of the items will not change.


#Changeable
The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.


#Allow Duplicates
Since lists are indexed, lists can have items with the same value:

In [133]:
x = ["apple", "banana", "cherry", "apple", "cherry"]
print(x)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [134]:
# List Length
#To determine how many items a list has, use the len() function:

thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [135]:
# List Items - Data Types
# List items can be of any data type:

list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

In [137]:
# A list with strings, integers and boolean values:

list1 = ["abc", 34, True, 40, "male"]
print(list1)
print(type(list1))

['abc', 34, True, 40, 'male']
<class 'list'>

In [139]:
# The list() Constructor
# It is also possible to use the list() constructor when creating a new list.
# note the double round-brackets

thislist = list(("apple", "banana", "cherry")) 
print(thislist)
print(type(thislist))

['apple', 'banana', 'cherry']
<class 'list'>

*  Python Collections (Arrays)
   There are four collection data types in the Python programming language:

1 List is a collection which is ordered and changeable. Allows duplicate members.
2 Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
3 Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
4 Dictionary is a collection which is ordered** and changeable. No duplicate members.

*Set items are unchangeable, but you can remove and/or add items whenever you like.

**As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

In [140]:
# List items are indexed and you can access them by referring to the index number
a = ["banana","apple","orange","pineapple"]
print(a[2])

orange

In [141]:
print(a[3])

pineapple

In [142]:
# Negative indexing means start from the end
# -1 refers to the last item, -2 refers to the second last item etc. 

print(a[-2])

orange

In [143]:
print(a[-3])

apple

In [144]:
# Range of Indexes
# You can specify a range of indexes by specifying where to start and where to end the range.

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [145]:
# Range of Negative Indexes
# Specify negative indexes if you want to start the search from the end of the list:

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [146]:
# Change Item Value
# To change the value of a specific item, refer to the index number:

thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [147]:
# Change a Range of Item Values 

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [148]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [149]:
#Change the second and third value by replacing it with one value:

thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

In [150]:
# Insert Items
# To insert a new list item, without replacing any of the existing values, we can use the insert() method.
# The insert() method inserts an item at the specified index:

thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [151]:
# Append Items
# To add an item to the end of the list, use the append() method:

thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [152]:
# Insert Items
# To insert a list item at a specified index, use the insert() method.
# The insert() method inserts an item at the specified index:

thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [153]:
# Extend List
# To append elements from another list to the current list, use the extend() method.

thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [154]:
# Add Any Iterable
# The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).


thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [155]:
# Remove Specified Item
# The remove() method removes the specified item.

thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [156]:
# Remove Specified Index
# The pop() method removes the specified index.

thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [157]:
# The del keyword also removes the specified index:

thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [160]:
# The del keyword can also delete the list completely.

thislist = ["apple", "banana", "cherry"]
del thislist

In [161]:
print(thislist)

NameError: name 'thislist' is not defined

In [162]:
# Clear the List
# The clear() method empties the list.

thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [163]:
# Python - Loop Lists
# You can loop through the list items by using a for loop:

thislist = ["apple", "banana", "cherry"]
for x in thislist:
    print(x)

apple
banana
cherry

In [164]:
# Loop Through the Index Numbers
# You can also loop through the list items by referring to their index number.
# Use the range() and len() functions to create a suitable iterable.

thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
    print(thislist[i])

apple
banana
cherry

* Using a While Loop
  You can loop through the list items by using a while loop.
  Use the len() function to determine the length of the list, then start at 0 and loop your way through the list items by      referring to their indexes.

In [167]:
# Print all items, using a while loop to go through all the index numbers

thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
    print(thislist[i])
    i = i + 1

apple
banana
cherry

In [168]:
# Looping Using List Comprehension
# List Comprehension offers the shortest syntax for looping through lists:

thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

In [1]:
# List objects have a sort() method that will sort the list alphanumerically, ascending, by default:

thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [2]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [3]:
# Sort the list descending:

thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [4]:
# Sort the list descending:

thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

In [7]:
# Customize Sort Function
# You can also customize your own function by using the keyword argument key = function.
# The function will return a number that will be used to sort the list (the lowest number first):

def myfunc(n):
    return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [8]:
# Reverse Order
# What if you want to reverse the order of a list, regardless of the alphabet?
# The reverse() method reverses the current sorting order of the elements.

thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

In [10]:
# Make a copy of a list with the copy() method:

thislist = ["apple", "banana", "cherry","papaya"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry', 'papaya']

In [12]:
# Make a copy of a list with the list() method:

thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

In [13]:
# Join Two Lists
# There are several ways to join, or concatenate, two or more lists in Python.

list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [14]:
# Another way to join two lists is by appending all the items from list2 into list1, one by one:

list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
    list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [16]:
# Or you can use the extend() method, which purpose is to add elements from one list to another list:

list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

* List Methods
* Python has a set of built-in methods that you can use on lists.

#Method	Description

append()	=   Adds an element at the end of the list

clear()	    =   Removes all the elements from the list

copy()	    =   Returns a copy of the list

count()	    =   Returns the number of elements with the specified value

extend()	=   Add the elements of a list (or any iterable), to the end of the current list

index()	    =   Returns the index of the first element with the specified value

insert()	=   Adds an element at the specified position

pop()	    =   Removes the element at the specified position

remove()	=   Removes the item with the specified value

reverse()	=   Reverses the order of the list

sort()	    =   Sorts the list

* Tuple
* Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

In [18]:
a = ("apple", "banana", "cherry")
print(a)
print(type(a))

('apple', 'banana', 'cherry')
<class 'tuple'>

* Tuple Items
Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

* Ordered
When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

* Unchangeable
Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

* Allow Duplicates
Since tuples are indexed, they can have items with the same value:

In [19]:
# tuples allow duplicate values:

x = ("apple", "banana", "cherry", "apple", "cherry")
print(x)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [20]:
# Tuple Length
# To determine how many items a tuple has, use the len() function:

fruit = ("apple", "banana", "cherry")
print(len(fruit))

3

In [22]:
# Create Tuple With One Item
# To create a tuple with only one item, you have to add a comma after the item, 
# otherwise Python will not recognize it as a tuple.

fruit = ("apple",)
print(type(fruit))

#NOT a tuple
xyz = ("apple")
print(type(xyz))

<class 'tuple'>
<class 'str'>

In [24]:
# Tuple Items - Data Types
# Tuple items can be of any data type:

tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
print(type(tuple1))
print(type(tuple2))
print(type(tuple3))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [26]:
# A tuple with strings, integers and boolean values:

tuple1 = ("abc", 34, True, 40, "male")
print(tuple1)

# type()
# From Python's perspective, tuples are defined as objects with the [ data type ] 'tuple':

print(type(tuple1))

('abc', 34, True, 40, 'male')
<class 'tuple'>

In [27]:
#You can access tuple items by referring to the index number, inside square brackets:

thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [28]:
# Negative Indexing
# Negative indexing means start from the end.
# -1 refers to the last item, -2 refers to the second last item etc.

thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [29]:
# Range of Indexes
# You can specify a range of indexes by specifying where to start and where to end the range.

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [30]:
# This example returns the items from the beginning to, but NOT included, "kiwi":

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [31]:
# this example returns the items from index -4 (included) to index -1 (excluded)

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

In [33]:
# Check if Item Exists
# To determine if a specified item is present in a tuple use the in keyword:

thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
    print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

In [34]:
# Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.
# But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [36]:
# 1. Convert into a list: Just like the workaround for changing a tuple, you can convert it into a list, add your item(s),
# and convert it back into a tuple.
# Convert the tuple into a list, add "orange", and convert it back into a tuple:

thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [37]:
# 2. Add tuple to a tuple. You are allowed to add tuples to tuples, so if you want to add one item, (or many), 
# create a new tuple with the item(s), and add it to the existing tuple:

thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [39]:
# Note: You cannot remove items in a tuple.
# Tuples are unchangeable, so you cannot remove items from it, but you can use the same workaround as we used for changing and adding tuple items:

thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

('banana', 'cherry')

In [40]:
# The del keyword can delete the tuple completely:

thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple)

NameError: name 'thistuple' is not defined

In [41]:
# Unpacking a tuple:
# in Python, we are also allowed to extract the values back into variables. This is called "unpacking":
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [42]:
# Using Asterisk*
# If the number of variables is less than the number of values, you can add an * to the variable name and
# the values will be assigned to the variable as a list:

fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [43]:
# If the asterisk is added to another variable name than the last, 
# Python will assign values to the variable until the number of values left matches the number of variables left.

fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [44]:
# Loop Through a Tuple
# You can loop through the tuple items by using a for loop.

thistuple = ("apple", "banana", "cherry")
for x in thistuple:
    print(x)

apple
banana
cherry

In [45]:
# Loop Through the Index Numbers
# You can also loop through the tuple items by referring to their index number.
# Use the range() and len() functions to create a suitable iterable.

thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
    print(thistuple[i])

apple
banana
cherry

* Using a While Loop
  You can loop through the tuple items by using a while loop.

Use the len() function to determine the length of the tuple, then start at 0 and loop your way through the tuple items by referring to their indexes.

Remember to increase the index by 1 after each iteration.

In [46]:
# Print all items, using a while loop to go through all the index numbers:

thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
    print(thistuple[i])
    i = i + 1

apple
banana
cherry

In [48]:
# Join Two Tuples
# To join two or more tuples you can use the + operator:

tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [47]:
# Multiply Tuples
# If you want to multiply the content of a tuple a given number of times, you can use the * operator:

fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

* Tuple Methods
  Python has two built-in methods that you can use on tuples.

Method	Description
count()   = 	Returns the number of times a specified value occurs in a tuple
index()	  =     Searches the tuple for a specified value and returns the position of where it was found

* Set
  Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.

* Note: Set items are unchangeable, but you can remove items and add new items.

* Note: Sets are unordered, so you cannot be sure in which order the items will appear.

* Set Items
Set items are unordered, unchangeable, and do not allow duplicate values.

* Unordered
Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

* Unchangeable
Set items are unchangeable, meaning that we cannot change the items after the set has been created.

Once a set is created, you cannot change its items, but you can remove items and add new items.

* Duplicates Not Allowed
Sets cannot have two items with the same value.

In [49]:
#Sets cannot have two items with the same value.
# duplicates valueis ignored in sets :

thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'banana', 'apple', 'cherry'}

In [50]:
# True and 1 is considered the same value:

thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{True, 2, 'banana', 'apple', 'cherry'}

In [51]:
# Get the Length of a Set
# To determine how many items a set has, use the len() function.

thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [52]:
# A set with strings, integers and boolean values:

set1 = {"abc", 34, True, 40, "male"}
print(set1)
print(type(set1))

{True, 34, 'male', 40, 'abc'}
<class 'set'>

In [53]:
# Loop through the set, and print the values:

thisset = {"apple", "banana", "cherry"}

for x in thisset:
    print(x)

banana
apple
cherry

In [54]:
# Check if "banana" is present in the set:

thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [55]:
# Once a set is created, you cannot change its items, but you can add new items.
# To add one item to a set use the add() method.

thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'banana', 'orange', 'apple', 'cherry'}

In [56]:
# To add items from another set into the current set, use the update() method.

thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'pineapple', 'mango', 'papaya', 'banana', 'apple', 'cherry'}

In [57]:
# The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'banana', 'orange', 'kiwi', 'apple', 'cherry'}

In [58]:
# Remove Item
# To remove an item in a set, use the remove(), or the discard() method.

thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

# Note: If the item to remove does not exist, remove() will raise an error.

{'apple', 'cherry'}

In [59]:
# Remove "banana" by using the discard() method:

thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

# Note: If the item to remove does not exist, discard() will NOT raise an error.

{'apple', 'cherry'}

* You can also use the pop() method to remove an item, but this method will remove a random item, so you cannot be sure what item that gets removed.

* The return value of the pop() method is the removed item.

In [60]:
# Remove a random item by using the pop() method:

thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

# Note: Sets are unordered, so when using the pop() method, you do not know which item that gets removed.

banana
{'apple', 'cherry'}

In [61]:
# The clear() method empties the set:

thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [62]:
# The del keyword will delete the set completely:

thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

In [63]:
# Loop Items
# You can loop through the set items by using a for loop:

thisset = {"apple", "banana", "cherry"}

for x in thisset:
    print(x)

banana
apple
cherry

* Join Two Sets
  There are several ways to join two or more sets in Python.

You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another:

In [64]:
# The union() method returns a new set with all items from both sets:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 'b', 2, 'a', 'c', 3}

In [65]:
# The update() method inserts the items in set2 into set1:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

# Note: Both union() and update() will exclude any duplicate items.

{1, 'b', 2, 'a', 'c', 3}

In [66]:
# Keep ONLY the Duplicates
# The intersection_update() method will keep only the items that are present in both sets.

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [67]:
# The intersection() method will return a new set, that only contains the items that are present in both sets.

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

In [68]:
# Keep All, But NOT the Duplicates
# The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'microsoft', 'banana', 'google', 'cherry'}

In [69]:
# The symmetric_difference() method will return a new set, that contains only the elements that are NOT present in both sets.


x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

# Note: The values True and 1 are considered the same value in sets, and are treated as duplicates:

{'microsoft', 'banana', 'google', 'cherry'}

In [71]:
# True and 1 is considered the same value:

x = {"apple", "banana", "cherry", True}
y = {"google", 1, "apple", 2}

z = x.symmetric_difference(y)
print(z)

{2, 'banana', 'google', 'cherry'}

* Set Methods
  Python has a set of built-in methods that you can use on sets.

Method	Description

add()	          =   Adds an element to the set

clear()	          =   Removes all the elements from the set

copy()	          =   Returns a copy of the set

difference()      =   Returns a set containing the difference between two or more sets

difference_update()	 = Removes the items in this set that are also included in another, specified set

discard()	       =   Remove the specified item

intersection()     =   Returns a set, that is the intersection of two other sets

intersection_update()   = 	Removes the items in this set that are not present in other, specified set(s)

isdisjoint()	    =       Returns whether two sets have a intersection or not

issubset()          =   	Returns whether another set contains this set or not

issuperset()	    =       Returns whether this set contains another set or not

pop()	            =       Removes an element from the set

remove()	        =       Removes the specified element

symmetric_difference()	 = Returns a set with the symmetric differences of two sets

symmetric_difference_update()	 =   inserts the symmetric differences from this set and another

union()	                         =    Return a set containing the union of sets

update()	                     =    Update the set with the union of this set and others

In [2]:
# Python Dictionaries

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

* Dictionary

. Dictionaries are used to store data values in key:value pairs.

. A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

. As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

. Dictionaries are written with curly brackets, and have keys and values:

In [7]:
# Dictionary Items
# Dictionary items are ordered, changeable, and does not allow duplicates.
# Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

print(thisdict["brand"])
print(thisdict["year"])
print(thisdict["model"])

Ford
1964
Mustang

* Ordered or Unordered?
As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

When we say that dictionaries are ordered, it means that the items have a defined order, and that order will not change.

Unordered means that the items does not have a defined order, you cannot refer to an item by using an index.

* Changeable
Dictionaries are changeable, meaning that we can change, add or remove items after the dictionary has been created.

* Duplicates Not Allowed
Dictionaries cannot have two items with the same key:

In [8]:
# Duplicate values will overwrite existing values:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [10]:
# Dictionary Length
# To determine how many items a dictionary has, use the len() function:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(len(thisdict))

3

In [11]:
# Dictionary Items - Data Types
# The values in dictionary items can be of any data type:


thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

print(thisdict)

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}

In [13]:
# The dict() Constructor
# It is also possible to use the dict() constructor to make a dictionary.

thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)
print(type(thisdict))

{'name': 'John', 'age': 36, 'country': 'Norway'}
<class 'dict'>

In [15]:
# You can access the items of a dictionary by referring to its key name, inside square brackets:


thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
print(x)

Mustang

In [16]:
# There is also a method called get() that will give you the same result:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict.get("model")
print(x)

Mustang

In [17]:
# The keys() method will return a list of all the keys in the dictionary.

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict.keys()
print(x)

# The list of the keys is a view of the dictionary,
# meaning that any changes done to the dictionary will be reflected in the keys list.

dict_keys(['brand', 'model', 'year'])

In [18]:
# Add a new item to the original dictionary, and see that the keys list gets updated as well:

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

#before the change
print(x) 

car["color"] = "white"

#after the change
print(x)

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [19]:
# The values() method will return a list of all the values in the dictionary.

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = thisdict.values()
print(x)

# The list of the values is a view of the dictionary,
# meaning that any changes done to the dictionary will be reflected in the values list.

dict_values(['Ford', 'Mustang', 1964])

In [20]:
# Make a change in the original dictionary, and see that the values list gets updated as well:

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

#before the change
print(x) 

car["year"] = 2020

#after the change
print(x)

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 2020])

In [21]:
# The items() method will return each item in a dictionary, as tuples in a list.

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = thisdict.items()
print(x)

# The returned list is a view of the items of the dictionary, 
# meaning that any changes done to the dictionary will be reflected in the items list.

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [22]:
# Make a change in the original dictionary, and see that the items list gets updated as well:

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

#before the change
print(x) 

car["year"] = 2020

#after the change
print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])

In [23]:
# Check if Key Exists
# To determine if a specified key is present in a dictionary use the in keyword:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
    print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

In [25]:
# You can change the value of a specific item by referring to its key name:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [26]:
# Update Dictionary
# The update() method will update the dictionary with the items from the given argument.
# The argument must be a dictionary, or an iterable object with key:value pairs.

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [28]:
# Adding Items
# Adding an item to the dictionary is done by using a new index key and assigning a value to it:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
thisdict["price"] = 5500000
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red', 'price': 5500000}

In [29]:
# Update Dictionary
# The update() method will update the dictionary with the items from a given argument. If the item does not exist, the item will be added.
# The argument must be a dictionary, or an iterable object with key:value pairs.

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [33]:
# Removing Items
# There are several methods to remove items from a dictionary:
# The pop() method removes the item with the specified key name:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "color": "white"
}
thisdict.pop("model")
thisdict.pop("color")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [37]:
# The popitem() method removes the last inserted item (in versions before 3.7, a random item is removed instead):

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
 "colour": "orange"
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [39]:
# The del keyword removes the item with the specified key name:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "colour": "yellow"
}
del thisdict["model"]
del thisdict["colour"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [40]:
# The del keyword can also delete the dictionary completely:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict

#this will cause an error because "thisdict" no longer exists.
print(thisdict)

NameError: name 'thisdict' is not defined

In [41]:
# The clear() method empties the dictionary:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

In [42]:
# Loop Through a Dictionary
# You can loop through a dictionary by using a for loop.
# When looping through a dictionary, the return value are the keys of the dictionary,
# but there are methods to return the values as well.
# Print all key names in the dictionary, one by one:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "colour": "yellow"
}
for x in thisdict:
    print(x)

brand
model
year
colour

In [43]:
# You can also use the values() method to return values of a dictionary:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "colour": "yellow"
}
for x in thisdict.values():
    print(x)

Ford
Mustang
1964
yellow

In [44]:
# You can use the keys() method to return the keys of a dictionary:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "colour": "yellow"
}
for x in thisdict.keys():
    print(x)

brand
model
year
colour

In [47]:
# Loop through both keys and values, by using the items() method:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "colour": "yellow"
}
for x, y in thisdict.items():
    print(x,y)

brand Ford
model Mustang
year 1964
colour yellow

In [48]:
# Make a copy of a dictionary with the copy() method:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [49]:
# Another way to make a copy is to use the built-in function dict().
# Make a copy of a dictionary with the dict() function:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [50]:
# Nested Dictionaries
# A dictionary can contain dictionaries, this is called nested dictionaries.
# Create a dictionary that contain three dictionaries:

myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}
print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [53]:
# Or, if you want to add three dictionaries into a new dictionary:
# Create three dictionaries, then create one dictionary that will contain the other three dictionaries:

child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}
print(myfamily)
print(child1)
print(child2)
print(child3)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}
{'name': 'Emil', 'year': 2004}
{'name': 'Tobias', 'year': 2007}
{'name': 'Linus', 'year': 2011}

In [54]:
# Access Items in Nested Dictionaries
# To access items from a nested dictionary, you use the name of the dictionaries, starting with the outer dictionary:
#Print the name of child 2:

print(myfamily["child2"]["name"])

Tobias

* Dictionary Methods
* Python has a set of built-in methods that you can use on dictionaries.

Method	Description

clear()   = 	Removes all the elements from the dictionary

copy()	  =     Returns a copy of the dictionary

fromkeys()=  	Returns a dictionary with the specified keys and value

get()	  =     Returns the value of the specified key

items()	  =     Returns a list containing a tuple for each key value pair

keys()	  =     Returns a list containing the dictionary's keys

pop()	  =     Removes the element with the specified key

popitem() =     Removes the last inserted key-value pair

setdefault() = 	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value

update()	 =  Updates the dictionary with the specified key-value pairs

values()	 =  Returns a list of all the values in the dictionary

* Python If ... Else
* Python Conditions and If statements
* Python supports the usual logical conditions from mathematics:

Equals: a == b

Not Equals: a != b

Less than: a < b

Less than or equal to: a <= b

Greater than: a > b

Greater than or equal to: a >= b

These conditions can be used in several ways, most commonly in "if statements" and loops.

An "if statement" is written by using the if keyword.

In [57]:
# If statement:

a = 33
b = 200
if b > a:
    print("b is greater than a")

b is greater than a

* In this example we use two variables, a and b, which are used as part of the if statement to test whether b is greater than a. As a is 33, and b is 200, we know that 200 is greater than 33, and so we print to screen that "b is greater than a".

* Indentation
Python relies on indentation (whitespace at the beginning of a line) to define scope in the code. Other programming languages often use curly-brackets for this purpose.

In [60]:
# if statement, without indentation (will raise an error):
# at the beginning need whitespace :
a = 33
b = 200
if b > a:
print("b is greater than a") # you will get an error

IndentationError: expected an indented block (178033265.py, line 6)

In [61]:
# Elif
# The elif keyword is Python's way of saying "if the previous conditions were not true, then try this condition".

a = 33
b = 33
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")


# In this example a is equal to b,
# so the first condition is not true, but the elif condition is true, so we print to screen that "a and b are equal".

a and b are equal

In [62]:
# Else
# The else keyword catches anything which isn't caught by the preceding conditions.

a = 200
b = 33
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")
else:
    print("a is greater than b")


#In this example a is greater than b, so the first condition is not true,
# also the elif condition is not true, so we go to the else condition and print to screen that "a is greater than b".

a is greater than b

In [63]:
# You can also have an else without the elif:

a = 200
b = 33
if b > a:
    print("b is greater than a")
else:
    print("b is not greater than a")

b is not greater than a

In [64]:
# Short Hand If
# If you have only one statement to execute, you can put it on the same line as the if statement.
# One line if statement:

a = 200
b = 33
if a > b: print("a is greater than b")

a is greater than b

In [65]:
# Short Hand If ... Else
# If you have only one statement to execute, one for if, and one for else, you can put it all on the same line:
# One line if else statement:

a = 2
b = 330
print("A") if a > b else print("B")

B

In [66]:
# This technique is known as Ternary Operators, or Conditional Expressions.
# You can also have multiple else statements on the same line:
# One line if else statement, with 3 conditions:

a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

In [68]:
#And
# The and keyword is a logical operator, and is used to combine conditional statements:
# Test if a is greater than b, AND if c is greater than a:

a = 200
b = 33
c = 500
if a > b and c > a:
    print("Both conditions are True")

Both conditions are True

In [69]:
# Or
# The or keyword is a logical operator, and is used to combine conditional statements:
# Test if a is greater than b, OR if a is greater than c:

a = 200
b = 33
c = 500
if a > b or a > c:
    print("At least one of the conditions is True")

At least one of the conditions is True

In [70]:
# Not
# The not keyword is a logical operator, and is used to reverse the result of the conditional statement:
# Test if a is NOT greater than b:

a = 33
b = 200
if not a > b:
    print("a is NOT greater than b")

a is NOT greater than b

In [89]:
# Nested If
# You can have if statements inside if statements, this is called nested if statements.


x = 41

if x > 10:
    print("Above ten,")
    if x > 20:
        print("and also above 20!")
    else:
        print("but not above 20.")

Above ten,
and also above 20!

* Python Loops
Python has two primitive loop commands:

1 while loops
2 for loops

* The while Loop
. With the while loop we can execute a set of statements as long as a condition is true.

In [94]:
# Print i as long as i is less than 6:

i = 1
while i < 6:
    print(i)
    i += 1
    
# Note: remember to increment i, or else the loop will continue forever.

1
2
3
4
5

* The while loop requires relevant variables to be ready, in this example we need to define an indexing variable, i,
  which we set to 1.

* The break Statement
  With the break statement we can stop the loop even if the while condition is true:

In [97]:
# Exit the loop when i is 3:

i = 1
while i < 6:
    print(i)
    if i == 3:
        break
    i += 1

1
2
3

In [98]:
# The continue Statement
# With the continue statement we can stop the current iteration, and continue with the next:
# Continue to the next iteration if i is 3:

i = 0
while i < 6:
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5
6

In [99]:
# The else Statement
# With the else statement we can run a block of code once when the condition no longer is true:
# Print a message once the condition is false:

i = 1
while i < 6:
    print(i)
    i += 1
else:
    print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

* Python For Loops

. A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

. This is less like the for keyword in other programming languages, and works more like an iterator method as found in other       object-orientated programming languages.

. With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [100]:
# Print each fruit in a fruit list one by one:

fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)

# The for loop does not require an indexing variable to set beforehand.

apple
banana
cherry

In [101]:
# Looping Through a String
# Even strings are iterable objects, they contain a sequence of characters:
# Loop through the letters in the word "banana":

for x in "banana":
    print(x)

b
a
n
a
n
a

In [103]:
# The break Statement
# With the break statement we can stop the loop before it has looped through all the items:
# Exit the loop when x is "banana":

fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)
    if x == "banana":
        break

apple
banana

In [104]:
# Exit the loop when x is "banana", but this time the break comes before the print:

fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        break
    print(x)

apple

In [105]:
# The continue Statement
# With the continue statement we can stop the current iteration of the loop, and continue with the next:
# Do not print banana:

fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        continue
    print(x)

apple
cherry

* The range() Function

. To loop through a set of code a specified number of times, we can use the range() function,

. The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at   a specified number.

In [106]:
# Using the range() function:

for x in range(6):
    print(x)
    
# Note that range(6) is not the values of 0 to 6, but the values 0 to 5.

0
1
2
3
4
5

In [107]:
# The range() function defaults to 0 as a starting value, however it is possible to specify the
# starting value by adding a parameter: range(2, 6), which means values from 2 to 6 (but not including 6):
# Using the start parameter:

for x in range(2, 6):
    print(x)

2
3
4
5

In [108]:
# The range() function defaults to increment the sequence by 1, however it is possible to specify 
# the increment value by adding a third parameter: range(2, 30, 3):
# Increment the sequence with 3 (default is 1):

for x in range(2, 30, 3):
    print(x)

2
5
8
11
14
17
20
23
26
29

In [109]:
# Else in For Loop
# The else keyword in a for loop specifies a block of code to be executed when the loop is finished:
# Print all numbers from 0 to 5, and print a message when the loop has ended:

for x in range(6):
    print(x)
else:
    print("Finally finished!")


# Note: The else block will NOT be executed if the loop is stopped by a break statement.

0
1
2
3
4
5
Finally finished!

In [110]:
# Break the loop when x is 3, and see what happens with the else block:

for x in range(6):
    if x == 3: break
    print(x)
else:
    print("Finally finished!")

0
1
2

In [112]:
# Nested Loops
# A nested loop is a loop inside a loop.
# The "inner loop" will be executed one time for each iteration of the "outer loop":
# Print each adjective for every fruit:

adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
    for y in fruits:
        print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [113]:
# The pass Statement
# for loops cannot be empty, but if you for some reason have a for loop with no content,
# put in the pass statement to avoid getting an error.

for x in [0, 1, 2]:
    pass

* Python Functions

A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

A function can return data as a result.

In [118]:
# in Python a function is defined using the def keyword:

def my_function():
    print("Hello from a function")

In [116]:
# Calling a Function
# To call a function, use the function name followed by parenthesis:

def my_function():
    print("Hello from a function")

my_function()

Hello from a function

* Arguments

Information can be passed into functions as arguments.

Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.

The following example has a function with one argument (fname). When the function is called, we pass along a first name, which is used inside the function to print the full name:

In [125]:
def my_function(fname):
    print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

# Arguments are often shortened to args in Python documentations.

Emil Refsnes
Tobias Refsnes
Linus Refsnes

* Parameters or Arguments?

. The terms parameter and argument can be used for the same thing: information that are passed into a function.
  From a function's perspective:

. A parameter is the variable listed inside the parentheses in the function definition.

. An argument is the value that is sent to the function when it is called.

* Number of Arguments

. By default, a function must be called with the correct number of arguments. Meaning that if your function expects 2 arguments,   you have to call the function with 2 arguments, not more, and not less.

In [126]:
# This function expects 2 arguments, and gets 2 arguments:

def my_function(fname, lname):
    print(fname + " " + lname)

my_function("Emil", "Refsnes")

Emil Refsnes

In [127]:
# If you try to call the function with 1 or 3 arguments, you will get an error:
# This function expects 2 arguments, but gets only 1:

def my_function(fname, lname):
    print(fname + " " + lname)

my_function("Emil")

TypeError: my_function() missing 1 required positional argument: 'lname'

* Arbitrary Arguments, *args

If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition.

This way the function will receive a tuple of arguments, and can access the items accordingly:

In [128]:
# If the number of arguments is unknown, add a * before the parameter name:

def my_function(*kids):
    print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

# Arbitrary Arguments are often shortened to *args in Python documentations.

The youngest child is Linus

* Keyword Arguments

You can also send arguments with the key = value syntax.

This way the order of the arguments does not matter.

In [134]:
def my_function(child3, child2, child1):
    print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")


# The phrase Keyword Arguments are often shortened to kwargs in Python documentations.

The youngest child is Linus

* Arbitrary Keyword Arguments, **kwargs

If you do not know how many keyword arguments that will be passed into your function, add two asterisk: ** before the parameter name in the function definition.

This way the function will receive a dictionary of arguments, and can access the items accordingly:

In [135]:
# If the number of keyword arguments is unknown, add a double ** before the parameter name:

def my_function(**kid):
    print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

# Arbitrary Kword Arguments are often shortened to **kwargs in Python documentations.

His last name is Refsnes

In [136]:
# Default Parameter Value
# The following example shows how to use a default parameter value.
# If we call the function without argument, it uses the default value:

def my_function(country = "Norway"):
    print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

* Passing a List as an Argument

You can send any data types of argument to a function (string, number, list, dictionary etc.), and it will be treated as the same data type inside the function.

E.g. if you send a List as an argument, it will still be a List when it reaches the function:

In [138]:
def my_function(food):
    for x in food:
        print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [140]:
# Return Values
# To let a function return a value, use the return statement:

def my_function(x):
    return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

* Recursion
Python also accepts function recursion, which means a defined function can call itself.

Recursion is a common mathematical and programming concept. It means that a function calls itself. This has the benefit of meaning that you can loop through data to reach a result.

The developer should be very careful with recursion as it can be quite easy to slip into writing a function which never terminates, or one that uses excess amounts of memory or processor power. However, when written correctly recursion can be a very efficient and mathematically-elegant approach to programming.

In this example, tri_recursion() is a function that we have defined to call itself ("recurse"). We use the k variable as the data, which decrements (-1) every time we recurse. The recursion ends when the condition is not greater than 0 (i.e. when it is 0).

To a new developer it can take some time to work out how exactly this works, best way to find out is by testing and modifying it.

In [142]:
# Recursion Example

def tri_recursion(k):
    if(k > 0):
        result = k + tri_recursion(k - 1)
        print(result)
    else:
        result = 0
    return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

*  Python Lambda

. A lambda function is a small anonymous function.
. A lambda function can take any number of arguments, but can only have one expression.

* Syntax

.lambda arguments : expression
.The expression is executed and the result is returned:

In [143]:
# Add 10 to argument a, and return the result:

x = lambda a : a + 10
print(x(5))

15

In [144]:
# Lambda functions can take any number of arguments:
# Multiply argument a with argument b and return the result:

x = lambda a, b : a * b
print(x(5, 6))

30

In [145]:
# Summarize argument a, b, and c and return the result:

x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

* Why Use Lambda Functions?

The power of lambda is better shown when you use them as an anonymous function inside another function.
Say you have a function definition that takes one argument, and that argument will be multiplied with an unknown number:

In [146]:
def myfunc(n):
    return lambda a : a * n

In [147]:
# Use that function definition to make a function that always doubles the number you send in:

def myfunc(n):
    return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

In [148]:
# Or, use the same function definition to make a function that always triples the number you send in:

def myfunc(n):
    return lambda a : a * n

mytripler = myfunc(3)

print(mytripler(11))

33

In [151]:
# Or, use the same function definition to make both functions, in the same program:

def myfunc(n):
    return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))


# Use lambda functions when an anonymous function is required for a short period of time.

22
33

* Python Arrays

. Note: Python does not have built-in support for Arrays, but Python Lists can be used instead.

* Arrays

. Note: This page shows you how to use LISTS as ARRAYS, however, to work with arrays in Python you will have to import a           library, like the NumPy library.

In [181]:
# Arrays are used to store multiple values in one single variable:
# ExampleGet your own Python Server
# Create an array containing car names:

cars = ["Ford", "Volvo", "BMW"]

* What is an Array?
. An array is a special variable, which can hold more than one value at a time.

If you have a list of items (a list of car names, for example), storing the cars in single variables could look like this:

car1 = "Ford"
car2 = "Volvo"
car3 = "BMW"
However, what if you want to loop through the cars and find a specific one? And what if you had not 3 cars, but 300?

The solution is an array!

An array can hold many values under a single name, and you can access the values by referring to an index number.

In [182]:
# Access the Elements of an Array
# You refer to an array element by referring to the index number.
# Get the value of the first array item:

car1 = "Ford"
car2 = "Volvo"
car3 = "BMW"
x = cars[0]
print(x)

Ford

In [160]:
# The Length of an Array
# Use the len() method to return the length of an array (the number of elements in an array).
# Return the number of elements in the cars array:

car1 = "Ford"
car2 = "Volvo"
car3 = "BMW"
car = ("car1","car2","car3")

x = len(cars)
print(x)

#Note: The length of an array is always one more than the highest array index.

3

In [161]:
# Looping Array Elements
# You can use the for in loop to loop through all the elements of an array.
# Print each item in the cars array:

for x in cars:
    print(x)

Toyota
Volvo
BMW

In [164]:
# Adding Array Elements
# You can use the append() method to add an element to an array.
# Add one more element to the cars array:

cars.append("Honda")
print(cars)

['Toyota', 'Volvo', 'BMW', 'Honda', 'Honda', 'Honda']

In [183]:
# Removing Array Elements
# You can use the pop() method to remove an element from the array.
# Delete the first element of the cars array:


cars.pop(0)

'Ford'

In [ ]:
# Delete the element that has the value "Volvo":

cars.remove("Volvo")

# Note: The list's remove() method only removes the first occurrence of the specified value.

* Array Methods
  Python has a set of built-in methods that you can use on lists/arrays.

Method	Description

append()     =  	Adds an element at the end of the list

clear()	     =      Removes all the elements from the list

copy()	     =      Returns a copy of the list

count()      =  	Returns the number of elements with the specified value

extend()	 =      Add the elements of a list (or any iterable), to the end of the current list

index()	     =      Returns the index of the first element with the specified value

insert()     =      Adds an element at the specified position

pop()	     =      Removes the element at the specified position

remove()	 =      Removes the first item with the specified value

reverse()	 =      Reverses the order of the list

sort()	     =      Sorts the list

Note: Python does not have built-in support for Arrays, but Python Lists can be used instead.

* Python Classes/Objects
. Python is an object oriented programming language.

Almost everything in Python is an object, with its properties and methods.

A Class is like an object constructor, or a "blueprint" for creating objects.

In [185]:
# To create a class, use the keyword class:
# Create a class named MyClass, with a property named x:

class MyClass:
    x = 5
print(x)

Ford

In [186]:
# Create Object
# Now we can use the class named MyClass to create objects:
# Create an object named p1, and print the value of x:

p1 = MyClass()
print(p1.x)

5

* The __init__() Function

The examples above are classes and objects in their simplest form, and are not really useful in real life applications.

To understand the meaning of classes we have to understand the built-in __init__() function.

All classes have a function called __init__(), which is always executed when the class is being initiated.

Use the __init__() function to assign values to object properties, or other operations that are necessary to do when the object is being created:

In [188]:
# Create a class named Person, use the __init__() function to assign values for name and age:

class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)
print(type(p1))

# Note: The __init__() function is called automatically every time the class is being used to create a new object.

John
36
<class '__main__.Person'>

In [190]:
# The __str__() Function
# The __str__() function controls what should be returned when the class object is represented as a string.
# If the __str__() function is not set, the string representation of the object is returned:
# The string representation of an object WITHOUT the __str__() function:

class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

p1 = Person("John", 36)

print(p1)

<__main__.Person object at 0x00000249533B55B0>

In [191]:
# The string representation of an object WITH the __str__() function:

class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def __str__(self):
        return f"{self.name}({self.age})"

p1 = Person("John", 36)

print(p1)

John(36)

In [192]:
# Object Methods
# Objects can also contain methods. Methods in objects are functions that belong to the object.
# Let us create a method in the Person class:
# Insert a function that prints a greeting, and execute it on the p1 object:

class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def myfunc(self):
        print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()

# Note: The self parameter is a reference to the current instance of the class, 
# and is used to access variables that belong to the class.

Hello my name is John

In [193]:
# The self Parameter

''' The self parameter is a reference to the current instance of the class, 
 and is used to access variables that belongs to the class.

It does not have to be named self , you can call it whatever you like, 
but it has to be the first parameter of any function in the class:

Use the words mysillyobject and abc instead of self:'''

class Person:
    def __init__(mysillyobject, name, age):
        mysillyobject.name = name
        mysillyobject.age = age

    def myfunc(abc):
        print("Hello my name is " + abc.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John